<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-2">
    <h2 class="text-center">Employees Management</h2>
    <hr/>
    <a th:href="@{/addEmployeeForm}" class="btn btn-primary mb-2">Add Employee</a>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Actions</th>

        </tr>
      <tbody>
    <tr th:each="employees:${employees}">
      <td th:text="${employees.name}"></td>
      <td th:text="${employees.email}"></td>
      <td th:text="${employees.department}"></td>
      <td>
        <a th:href="@{/showUpdateForm(employeeId=${employees.id})}" class="btn btn-secondary">Edit</a>
        <a th:href="@{/deleteEmployee(employeeId=${employees.id})}" class="btn btn-danger ml-2">Delete</a>
      </td>

    </tr>
    </tbody>
      </thead>
    </table>
  </div>
</body>
</html>